<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>테스트 공간</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<h1>파일을 먼저 업로드</h1>
<form id="uploadForm" enctype="multipart/form-data">
    <input type="file" name="file" id="file" required>
    <button type="submit">Upload</button>
</form>

<h1>Search Data</h1>
<form id="searchForm">
    <input type="text" name="query" id="query" placeholder="Enter location" required>
    <button type="submit">Search</button>
</form>

<div id="results"></div>
<div class="pagination" id="pagination"></div>

<script src="/js/scripts.js"></script>
</body>
</html>
